@use './partials/mixins' as *;
@use './partials/typography' as *;

:root {
  --text-color: black;
  --background: #FEFFEA;
  --profile-image-bg: #0a192f;
  --sidebar-bg: #FEFFEA;
}

[data-theme='dark'] {
  --text-color: #C1C3C1;
  --background: #0a192f;
  --profile-image-bg: #FEFFEA;
  --sidebar-bg: #0a192f;
}

$caladea: 'caladea';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $caladea, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;
}

h1 {
  @include font-size-height-weight(4rem, 5rem, 700);
  margin: 0;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @include font-size-height-weight(1.6rem, 2.1rem, 400);
  margin: 0;
  margin-bottom: 2rem;
}