@use './partials/mixins' as *;

.header {
    @include flex(right, null);
    @include width-height(100%, 5rem);
    position: fixed;
    top: 0;
    left: 0;
}

.mode-button {
    margin: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toggle-mode {
    @include width-height(3rem, 3rem);
}