@use './partials/mixins' as *;

.container {
    @include width-height(100%, 100vh);
    @include flex(center, column);
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: var(--background)
}

.joao {
    @include circle-class(0, 0, 200px, 200px);
    background-color: var(--profile-image-bg);

    &:hover {
        @include circle-hover();
    }
}